    <!-- Features Row -->
    <div class="bg-white py-16">
      <div class="max-w-7xl mx-auto px-6">
        <h2 class="text-3xl font-bold text-center text-gray-800 mb-12">
          خدماتنا الاستشارية
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <!-- Service 1 -->
          <div
            class="bg-custom-bg p-8 rounded-lg shadow-sm border border-gray-100 text-right"
          >
            <div class="text-custom-text text-4xl mb-4 text-center">
              <i class="fas fa-chart-line text-[#b7b6b4]"></i>
            </div>
            <h3 class="text-xl font-semibold text-gray-800 mb-3">
              استراتيجية الأعمال
            </h3>
            <p class="text-gray-600">
              نطور استراتيجيات أعمال فعالة لتحقيق أهدافك طويلة المدى وتفوق على
              المنافسين.
            </p>
          </div>

          <!-- Service 2 -->
          <div
            class="bg-custom-bg p-8 rounded-lg shadow-sm border border-gray-100 text-right"
          >
            <div class="text-custom-text text-4xl mb-4 text-center">
              <i class="fas fa-hand-holding-usd text-[#b7b6b4]"></i>
            </div>
            <h3 class="text-xl font-semibold text-gray-800 mb-3">
              الاستشارات المالية
            </h3>
            <p class="text-gray-600">
              نصائح مالية خبيرة لتحسين استثماراتك وتقليل التكاليف وزيادة
              الربحية.
            </p>
          </div>

          <!-- Service 3 -->
          <div
            class="bg-custom-bg p-8 rounded-lg shadow-sm border border-gray-100 text-right"
          >
            <div class="text-custom-text text-4xl mb-4 text-center">
              <i class="fas fa-users text-[#b7b6b4]"></i>
            </div>
            <h3 class="text-xl font-semibold text-gray-800 mb-3">
              استشارات الموارد البشرية
            </h3>
            <p class="text-gray-600">
              بناء قوة عاملة قوية مع حلولنا للموارد البشرية بما في ذلك اكتساب
              المواهب وتطوير الموظفين.
            </p>
          </div>
        </div>
      </div>
    </div>




    

 
 